@import '../../variables.scss';

.top > div {
  padding-top: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .downLink {
    font-size: 50px;
    &:before {
      content: ''
    }
  }
  .slogan1 {
    width: 100%;
    font-size: 120px;
    color: $blueColor;

    span {
      position: relative;
    }
  }
  .slogan2 {
    width: 100%;
    font-size: 70px;
    text-align: right;
  }
}
