@import '../../variables.scss';

.top > div {
  padding-top: 80px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .slogan1 {
    width: 100%;
    font-size: 120px;
    color: $blueColor;
    @media(max-width: $deviceWidth) {
      font-size: 45px;
    }

    span {
      position: relative;
    }
  }
  .slogan2 {
    width: 100%;
    font-size: 70px;
    text-align: right;
    @media(max-width: $deviceWidth) {
      font-size: 30px;
    }
  }
  :global(.downLink) {
    &.hidden {
      visibility: hidden;
    }
  }
}
