@import '../../variables.scss';

.loginModal {
  .btnWrapper {
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .invitedByBlock {
    margin-bottom: 10px;
  }
  .invitedByText {
    font-weight: bold;
  }
  .vereficationMessage {
    margin-bottom: 50px;
    text-align: left;
    padding-left: 0;
    list-style: none;
    text-align: center;
  }
}
