$mainColor: #d9524a;
$goldColor: #ffe86d;
$blackColor: #525252;
$greenColor: #2aa538;
$redColor: #c41a1c;
$blueColor: #40a9ff;
$grayColor: #f5f5f5;
$greenColor: #417b67;
$yellowColor: #c58b32;

$deviceWidth: 650px;
