@import '../../../variables.scss';

.personItem {
  width: 450px;
  display: flex;
  flex-direction: row;
  color: $blackColor;

  .textBlock {
    margin-left: 30px;
  }
  .name {
    color: $blackColor;
    font-size: 30px;
  }
}
