@import '../../variables.scss';

.opinions {
  text-align: center;
  .list {
    margin-bottom: 50px;
  }
  .content {
    position: relative;
  }
  .filterBtn {
    position: absolute;
    font-size: 30px;
    right: 0;
    top: -55px;
    color: $blueColor;
    cursor: pointer;
  }
}
