@import '../../variables.scss';

.opinion {
  text-align: left;
  background: $grayColor;
  padding-bottom: 50px;
  &:nth-child(even) {
    background: white;
    text-align: right;
    .like, .notVerified {
      left: 0;
      right: auto;
    }
  }
  .content {
    position: relative;
  }
  .profession {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .like {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 30px;
    cursor: pointer;

    &.voted {
      color: $blueColor;
    }
  }
  .notVerified {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 5px;
    color: $yellowColor;
  }
  .counter {
    vertical-align: -3px;
    i {
      cursor: pointer;
    }
  }
  .prosConsBlock {
    margin-top: 20px;
  }
  .pros {
    margin-top: 50px;
    color: $greenColor;
  }
  .cons {
    color: $redColor;
  }
  .overall {
    margin-top: 50px;

    .overallTitle {
      font-size: 20px;
    }
  }

  .userMeta {
    .educationName {
      text-transform: lowercase;
    }
  }
  .verifyBtn {
    margin-top: 10px;
    width: 100%;
  }
}
