@import '../../variables.scss';

.opinion {
  text-align: left;
  background: $grayColor;
  padding-bottom: 50px;

  &:nth-child(even) {
    background: white;
  }

  @media(min-width: $deviceWidth) {
    &:nth-child(even) {
      background: white;
      text-align: right;
      .like, .notVerified {
        left: 0;
        right: auto;
      }
    }
  }


  .content {
    position: relative;
  }
  .profession {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .like {
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 30px;
    cursor: pointer;

    @media(max-width: $deviceWidth) {
      font-size: 25px;
    }

    &.voted {
      color: $blueColor;
    }
  }
  .notVerified {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 5px;
    color: $yellowColor;
  }
  .counter {
    vertical-align: -3px;
    i {
      cursor: pointer;
    }
  }
  .prosConsBlock {
    margin-top: 20px;
  }
  .pros {
    margin-top: 50px;
    color: $greenColor;
  }
  .cons {
    color: $redColor;
  }
  .overall {
    margin-top: 50px;
    .overallTitle {
      font-size: 20px;
    }
  }

  .userMeta {
    @media(max-width: $deviceWidth) {
      font-size: 12px;
    }
    .educationName {
      text-transform: lowercase;
    }
  }
}
